<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Connection">
        <setting label="Kodi-IP" type="text" id="HTTP_KODI_IP" default="localhost:8080"/>        
    </category>
	<category label="Voice">
        <setting label="Language" type="text" id="LISTEN_LANGUAGE" default="de-DE"/>        
        <setting label="Google Key" type="text" id="LISTEN_GOOGLEKEY" default=""/>
        <setting label="Hotword" type="text" id="LISTEN_HOTWORD" default="kodi"/>
    </category>
</settings>
